apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: ko-build-image
spec:
  params:
    - name: MAIN_DIR
      description: Directory containing the main executable (one with main func) to build.
    - name: KO_DOCKER_REPO
      description: Registry to push the image to
  results:
    - name: DIGESTS
      description: Digest of the image just built.
  workspaces:
    - name: source
      description: Where the dependencies and source code are.
  steps:
    - name: ko-build-image
      image: cgr.dev/chainguard/ko:latest
      env:
        - name: KO_DOCKER_REPO
          value: $(params.KO_DOCKER_REPO)
        - name: GOMODCACHE
          value: $(workspaces.source.path)/gomod
      resources:
        requests:
          memory: 1Gi
          cpu: 1
        limits:
          memory: 2Gi
          cpu: 1
      script: |
        cd $(workspaces.source.path)/source
        # Strip the trailing newline so hilarity will not ensue in
        # following tasks.
        ko publish $(params.MAIN_DIR) | tr -d '\n' | tee /tekton/results/DIGESTS
